<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Word Cloud</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<link rel="stylesheet" href="libs/foundation/css/normalize.css">
		<link rel="stylesheet" href="libs/foundation/css/foundation.css">
		<link rel="stylesheet" href="app.css">

		<script src="libs/mousetrap.min.js"></script>


	</head>
	<body>

		<script src="libs/three.min.js"></script>
		<script src="libs/stats.min.js"></script>

		<script src="libs/foundation/js/vendor/jquery.js"></script>
		<script src="libs/foundation/js/foundation.min.js"></script>

		<script src="libs/traer.js"></script>



		<div ng-app="">
			<!-- GUI start -->
			<div ng-controller="GuiController">
				<div id="my-gui" style="position:absolute; top:0px; z-index:1;" class="panel">
					<div class="row">
						<div class="large-12">
							<label>Debug:</label>
							<input id="gui-stats" type="checkbox" ng-model="gui.stats">
							<label for="stats-checkbox">stats</label>
						</div>
					</div>
					<div class="row">
						<div class="large-12">
							<input id="gui-helpers" type="checkbox" ng-model="gui.helpers">
							<label for="helpers-checkbox">helpers</label>
						</div>
					</div>
				</div>
			</div>
			<!-- / GUI end -->

			<!-- Tracking GUI -->
			<div ng-controller="TrackingGuiController">
				<div id="trackingGUI" class="panel">
					<p>
				        <h2>Sensitivity: {{tgui.sensitivity}}</h2>
				        <input type="range" min="0" max="100" id="sensitivitySlider" ng-model="tgui.sensitivity">
				    </p>
				    <p>
				        <h2>Scale: {{tgui.scale}}</h2>
				        <input id="scaleSlider" type="range" min="0" max="15"ng-model="tgui.scale">
				    </p>

				    <video width="320" height="240" id="video"></video>
				    <canvas width="320" height="240" id="trackerCanvas"></canvas>

				    <div id="targetColor"></div>		
				</div>
			</div>
			<!-- / Tracking GUI end -->

		</div><!-- / div ng-app end -->


		<script src="libs/shimUserMedia.js"></script>
		<script src="wc.js"></script>
		<script src="app.js"></script>



		<script type="text/javascript" src="libs/angular.min.js"></script>
		<script type="text/javascript" src="my_gui.js"></script>


		<script>	
			$(document).foundation();
		</script>

	
	</body>
</html>